#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  border: 2px solid white;
  color: black;
  font-size: 150%;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 30vw;
  height: 70vh;
  /* border: 4px solid white; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  /* background-color: rgba(0,0,0,0.5); */
}

h1 {
  color: white;
  text-align: center;
  font-size: 300%;
}

video {
  position: fixed;
  top: 0;
  right: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  /* to change the blur effect edit the number below in your code*/
  filter:blur(5px);
}

.video-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,0.5);
  border: 4px solid white;
  color: white;
  font-size: 150%;
  font-weight: bold;
  border: 2px solid white;
}

.loader {
  border: 16px solid #E75480; /* Light grey */
  border-top: 16px solid #FF99E3; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

h1.thanks {
  color: #E75480;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1524px) {
  video {
    width: auto;
    height: 100vh;
  }

  h1 {
    font-size: 200%;
  }

  input {
    padding: 1rem 1rem;
  }

  button {
    background-color: rgba(0,0,0,0.5);
    font-size: 100%;
    width: 170%;
  }
}

@media (min-width: 1525px) {
  video {
    width: 100vw;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    background-color: rgba(0,0,0,0.5)
  }
}